<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Chat Messages</h1>

    <!-- New Message Button -->
    <form method="GET" action="/chats/new">
        <button>New Message</button>
    </form>

    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <% chats.forEach(chat => { %>
            <tr>
                <td><%= chat.from %></td>
                <td><%= chat.to %></td>
                <td><%= chat.msg %></td>
                <td><%= new Date(chat.created_at).toLocaleString() %></td>
                <td>
                    <form method ="GET" action="/chats/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form method ="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
