<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container" id="users-page">
    <h1>All Users</h1>
    <form method="GET" action="/users/new">
        <button type="submit">Add New User</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <form method="GET" action="/users/<%= user.id %>/edit" style="display:inline;">
                        <button type="submit">Edit Username</button>
                    </form>
                    <br>
                    <br>
                    <form method="GET" action="/users/<%= user.id %>/delete" style="display:inline;">
                        <button type="submit">Delete User</button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <a href="/"><button>Back to Home</button></a>
</div>
</body>
</html>
